{% extends "layout.njk" %}

{% block content %}
<article class="container">
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <p><a href="story.njk">Click this button for the adventure</a></p>
</article>
{% endblock %}